# Configuration Caddy (Serveur Web & HTTPS automatique)

# --------------------------------------------------------
www.verifdoc.io, verifdoc.io {
    # HTTPS Automatique (Let's Encrypt)
    # Plus besoin de 'tls internal' ni de port 80 explicite
    
    encode gzip
    # Compression Gzip pour la vitesse
    encode gzip

    # 1. API Backend : tout ce qui commence par /api va vers le conteneur backend
    handle_path /api/* {
        reverse_proxy backend:8000
    }

    # Docs Swagger (optionnel, pour debug)
    handle_path /docs* {
        reverse_proxy backend:8000
    }
    
    handle_path /openapi.json {
        reverse_proxy backend:8000
    }

    # 2. Frontend : tout le reste va vers le site React
    handle {
        reverse_proxy frontend:80
    }
}
