
fastapi
uvicorn
python-multipart
jinja2
aiofiles
python-dotenv
httpx
slowapi
python-jose
passlib[bcrypt]

# Database
sqlalchemy
psycopg2-binary

numpy
opencv-python-headless
opencv-contrib-python-headless
Pillow
matplotlib
seaborn
scikit-image
piexif

fpdf2
pdfminer.six
xlsxwriter
pandas
openpyxl
PyPDF2

torch
torchvision
torchaudio
transformers
timm
efficientnet_pytorch
scikit-learn
scipy
statsmodels
google-generativeai
accelerate

stripe
requests
BeautifulSoup4
lxml